<h1>Create new Landmark!</h1>
<br>
<form action="/landmarks" method="post">
  <!-- New Name -->
  <label>Add name:
    <input type="text" name="landmark[name]" id="landmark_name">
  </label>
  <br>
  <!-- Year Completed -->
  <label>Add year completed:
    <input type="number" name="landmark[year_completed]" id="landmark_year_completed">
  </label>
  <br>
  <!-- Submit button -->
  <input type="submit" value="Create New Landmark">
</form>
